/*
 * SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and CLA-assistant contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.list-group {
	border: 1px solid $input-border;
	z-index: 10;
	position: absolute;
	width: 100%;
	margin-top: 33px;
	margin-bottom: 15px;
}
