export NODE_ENV=development
export PORT=5000
export PROTOCOL=http
export HOST=localhost
export HOST_PORT=5000
export SESSION_SECRET=
export MONGODB=mongodb://reviewninja:reviewninja@localhost:27017/reviewninja
export GITHUB_CLIENT=
export GITHUB_SECRET=
export GACODE=
export SMTP_HOST=
export SMTP_SSL=
export SMTP_PORT=
export SMTP_USER=
export SMTP_PASS=
export LANDING_PAGE=http://about.review.ninja/
