{
  "PORT":10000,
  "PROTOCOL":"http",
  "HOST":"localhost",
  "MONGODB":"mongodb://cla_assistant:cla_assistant@localhost:27017/cla_assistant",
  "GITHUB_CLIENT":"",
  "GITHUB_SECRET":"",
  
  "GITHUB_USER":"",
  "GITHUB_PASS":"",
  "GITHUB_TOKEN":"",

  "GACODE":""
}