env:
    browser: true
    mocha: true
    node: true

globals:
    $: false
    angular: false
    chunk: true
    config: false
    filters: true
    ga: false
    io: false
    models: true
    module: true
    moment: false
    server: true

rules:
    camelcase: 0
    eol-last: 1
    handle-callback-err: 1
    new-cap: 0
    no-extra-semi: 1
    no-path-concat: 0
    no-space-before-semi: 1
    no-trailing-spaces: 1
    no-undef: 1
    no-underscore-dangle: 0
    no-unused-expressions: 1
    no-unused-vars: 0
    no-use-before-define: [1, nofunc]
    quotes: [1, single]
    semi: 2
    space-infix-ops: 1
    strict: 0
    valid-typeof: 1
