<div class="lp-main">

  <div class="lp-background-main">
    <div class="lp-row lp-background-overlay"></div>
  </div>

  <div class="lp-start-view">
    <!-- Header -->
    <div class="lp-header">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/CLA_logo.svg" class="img-fluid" alt="CLA assistant" class="cla-logo" />
      </a>
      <a class="lp-signin text-invert" href="/auth/github?admin=true" target="_self"><b>Sign in</b></a>
    </div>
    <!-- Header -->

    <div class="row lp-premium lp-section">
      <img class="d-block m-x-auto img-fluid lp-main-cla-img" src="/assets/images/CLA_text.svg">
      <div class="m-x-auto lp-first-block">
        <p>Easily handle Contributor License Agreements (CLAs)</p>
        <button class="btn btn-md btn-primary lp-signin-button" (click)="logAdminIn()">
          <span class="octicon octicon-mark-github"></span>&nbsp;Sign in with GitHub
        </button>
      </div>
    </div>


  </div>
  <div class="lp-features-outer-div">


    <div class="row lp-white lp-section lp-second-block">
      <div class="m-x-auto">
        <h4>FEATURES</h4>
      </div>
      <div class="m-x-auto">
        <div class="feature-col m-x-auto">
          <feature id="feature1" iconSrc="/assets/images/feature1.svg" header="Authentication" text="Sign in with your GitHub account"
            class="lp-feature"></feature>
          <feature id="feature2" iconSrc="/assets/images/feature2.svg" header="Integration" text="CLA assistant notifies you about new contributions via GitHub pull requests"
            class="lp-feature"></feature>
          <feature id="feature3" iconSrc="/assets/images/feature3.svg" header="Status updates" text="CLA assistant updates the status of pull requests when a contributor signs your CLA"
            class="lp-feature"></feature>
          <feature id="feature4" iconSrc="/assets/images/feature4.svg" header="Review" text="Review and export the list of contributors who have signed your CLA"
            class="lp-feature"></feature>
        </div>
      </div>
    </div>


    <div class="row lp-premium-darker lp-section">
      <div class="m-x-auto">
        <p>Hassle-free CLA signing
          <br>
        </p>
      </div>
      <div id="Stage" class="EDGE-110781156 m-x-auto resize-img"></div>
      <div class="m-x-auto lp-hassle-free-signing-outer">
        <ol class="lp-hassle-free-signing-list">
          <li>Create a pull request</li>
          <li>Click to accept the repository's CLA</li>
        </ol>
        <p>That's it, for real!</p>
      </div>
    </div>

    <div class="row lp-section lp-activity">
      <div class="m-x-auto">
        <h4 class="lp-premium">ACTIVITY</h4>
      </div>
      <div class="col-md-4 offset-md-4 lp-activity-content">
        <p class="lp-textblock" [@slideState]="active == 0 ? 'active' : 'inactive'"><i class="octicon octicon-repo"></i> {{numberRepos}} registered repositories</p>
        <p class="lp-textblock" [@slideState]="active == 1 ? 'active' : 'inactive'"><img src="/assets/images/CLA_logo.svg" class="lp-textblock-icon" /> {{numberClas}} signed CLAs</p>
        <p class="lp-textblock" [@slideState]="active == 2 ? 'active' : 'inactive'"><i class="octicon octicon-star"></i> {{numberStars}} GitHub stars</p>
      </div>
    </div>

    <div class="row lp-white lp-section">
      <div class="m-x-auto">
        <h4>HOW IT WORKS</h4>
        <p>Put your CLA into a <a href="https://gist.github.com" target="_blank">Gist</a>, and link it to a repository</p>
      </div>

      <div class="row lp-bottom-space lp-howto1-outer">
        <div class="m-x-auto">
          <div class="col-xs-12 col-sm-4 col-md-4 ">
            <img class="float-right lp-howto-img" src="/assets/images/howto1.svg">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="how-to-align how-to-align-left lp-howto-main-text">
            SAVE YOUR CLA IN A GIST
          </div>
          <div class="how-to-align how-to-align-left lp-howto-sub-text">
            At <a href="https://gist.github.com" target="_blank">gist.github.com</a> enter a title and text for your CLA,
            and create your Gist.
          </div>
        </div>
      </div>

      <div class="row lp-bottom-space">
        <div class="m-x-auto">
          <div class="col-xs-12 col-sm-4 push-sm-8 col-md-4 push-md-8 ">
            <img class="float-left lp-howto-img" src="/assets/images/howto2.svg">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4  pull-sm-4 col-md-4 pull-md-4 offset-sm-4 offset-md-4">
          <div class="how-to-align how-to-align-right lp-howto-main-text">
            SELECT A REPOSITORY
          </div>
          <div class="how-to-align how-to-align-right lp-howto-sub-text">
            Select a repository where you need to manage contributions with a CLA.
          </div>
        </div>
      </div>

      <div class="row lp-bottom-space">
        <div class="m-x-auto">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <img class="float-right lp-howto-img" src="/assets/images/howto3.svg" >
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="how-to-align how-to-align-left lp-howto-main-text">
            LINK THEM
          </div>
          <div class="how-to-align how-to-align-left lp-howto-sub-text">
            Now just link that repository to your CLA.
          </div>
        </div>
      </div>

      <div class="row lp-bottom-space">
        <div class="m-x-auto">
          <div class="col-xs-12 col-sm-4 push-sm-8 col-md-4 push-md-8 ">
            <img class="float-left lp-howto-img" src="/assets/images/howto4.svg">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4  pull-col-sm-4 col-md-4 pull-col-md-4">
          <div class="how-to-align how-to-align-right lp-howto-main-text">
            YAY!
          </div>
          <div class="how-to-align how-to-align-right lp-howto-sub-text">
            That's it.
            <br>CLA assistant will do the rest for you.
          </div>
        </div>
      </div>
    </div>

    <div class="row lp-premium-darker lp-section">
      <div class="m-x-auto">
        <h4>PREVIEW</h4>
      </div>
      <div class="m-x-auto lp-preview">
        <img src="/assets/images/browser.svg" class="d-block m-x-auto preview-browser" />
        <img src="/assets/images/preview.gif" class="d-block m-x-auto" />
      </div>
    </div>

    <div class="row lp-premium lp-section m-x-auto">
      <div class="m-x-auto">
        <button class="btn btn-md btn-primary lp-signin-button" (click)="logAdminIn()">
          <span class="octicon octicon-mark-github"></span>&nbsp;Sign in with GitHub
        </button>
      </div>
    </div>
  </div>

  <div class="bg-faded navbar navbar-light navbar-fixed-bottom">
    <div class="navbar-top-border">
      <div class="container-fluid">
        <div class="m-x-auto">
          <div class="navbar-text pull-left">
            <p class="footer-copyright">© 2015 SAP SE</p>
          </div>
        </div>
        <div class="navbar-text navbar-center footer-made-by">
          <p class="hidden-xs-down hidden-md-down">
            Made with
            <span class="octicon octicon-heart"></span> from the GitHub team at SAP
          </p>
        </div>
        <div class="m-x-auto">
          <div class="navbar-text pull-right">
            <a href="https://github.com/cla-assistant/cla-assistant/issues/new" target="space">
              <span class="octicon octicon-mark-github"></span> Open an issue
            </a>
          </div>
        </div>
        <div class="m-x-auto">
          <div class="navbar-text pull-right">
            <a href="https://gist.github.com/CLAassistant/3a73e4cd729c9d0a6e30" target="space" class="footer-terms-of-service">
                        Terms of Service &amp; Privacy Policy
                      </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>