<!--
SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and CLA-assistant contributors

SPDX-License-Identifier: Apache-2.0
-->

<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>

    <div class="free-space">
        <h4>How does exempting public members of an organization work?</h4>
        <div>
            If an organization's name is added to the exemption list, then members of this organization
            will not be required to sign the CLA. Note that private memberships will not be detected because
            the service queries the <bold>public members</bold> of the organization.
        </div>
        <h4>Why exempt public members of an organization?</h4>
        <div>
            We see at least two use cases you may want to do so:
            <ul>
                <li>
                    You want your own organization members to not have to sign a CLA.
                </li>
                <li>
                    You have a (Corporate) CLA in place with another organization and allowing their organization ensures that the individuals don't have to sign a CLA.
                </li>
            </ul>
        </div>
    </div>
</div>
