<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="free-space">
        <h4>What happens if I choose to share the gist with multiple repos or orgs?</h4>
        <div>
            Contributors will simply need to sign only once for any of the repos or orgs linked with the same shared gist.
        </div>
    </div>
    <div class="free-space">
        <h4>Are previous CLA signatures still valid after I choose to share the gist with multiple repos or orgs?</h4>
        <div>
            Yes, but the scope of the previous signatures are still limited to the previous repo or org.
        </div>
    </div>
    <div class="free-space">
        <h4>What happens if I uncheck the box and choose NOT to share the gist any more?</h4>
        <div>
            Previous contributors that have signed the shared gist will have to sign again.
        </div>
    </div>
</div>