<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
        Import
    </div>

    <div class="center-block row" style="font-size:18px;">
        Import a CSV file containing all the GitHub usernames of contributors who have already signed your CLA.
    </div>

    <form class="form-inline" style="margin: 20px 0;">
        <div class="form-group">
            <span class="btn btn-default btn-file">
                Browse
                <input type="file" name="file" accept=".csv" file-model="file">
            </span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="header"> First row is header information
                </label>
            </div>
        </div>
    </form>

    <div class="well" ng-show="json.data.length" style="display: block; max-width: 568px; overflow-x: scroll; padding: 0;">
        <table class="table table-condensed table-bordered" style="margin-bottom: 0;">
            <tr>
                <th ng-repeat="datum in json.data[0]">
                    <ui-select ng-model="selectedKeys[$index]" theme="selectize" on-select="onSelect($item, $index)">
                        <ui-select-match placeholder="select">
                            {{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="key in availableFieldKeys | notSelected: selectedKeyList() ">
                            <span ng-if="key" ng-bind-html="key | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </th>
            </tr>
            <tr ng-repeat="entry in json.data">
                <td ng-repeat="datum in entry track by $index" ng-class="validateAttribute(datum, $index)" ng-hide="json.data.indexOf(entry) === 0 && header">
                    {{ datum }}
                </td>
            </tr>
        </table>
    </div>
    <!-- <p ng-show="json.data.length" class="text-right">
		{{ json.data.length - (header ? 1 : 0) }} rows total
	</p> -->

    <div style="text-align:right; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
        <button class="btn btn-info" ng-click="upload()" ng-disabled="!json || !canBeUploaded()">Import</button>
    </div>
</div>