<div class="row main" style="margin-top: 50px;">
	<div class="container-fluid">

		<div class="row" ng-hide="admin">
			<div class="col-md-8 col-md-offset-2" >
				<h4>Sign the Contributor License Agreement for your contribution to {{params.user}}/{{params.repo}}</h4>
				<div class="well" style="height: 400px; overflow-y: scroll; border: 1px solid lightgrey; padding: 10px;">
					<div ng-bind-html="cla" ng-hide="signedCLA.text && diff"></div>
				</div>
<!-- 				<div class="well" style="margin: 50px;">
				<h1>Contributor License Agreement</h1>
					<div style="height: 400px; overflow-y: scroll; border: 1px solid lightgrey; padding: 10px;">
 -->						<!-- <%- termsHtml %> -->
<!-- 						<div ng-bind-html="cla" ng-hide="signedCLA.text && diff"></div>
						<div ng-bind-html="cla" ng-if="signedCLA.text && diff" class="textdiff" semantic-diff left-obj="signedCLA.text" right-obj="cla.text" ></div>
					</div>
					<label ng-show="signedCLA.text" ng-init="diff = false">
						<input type="checkbox" ng-model="diff" >
						Show me changes since last agreement
					</label>
				</div> -->
				<p class="text-center">
    				<button class="btn btn-success" ng-show="!signed" ng-click="agree()" style="width:100%">Sign in with GitHub to agree</button>
					<a href="{{redirect}}" class="btn btn-primary" ng-show="!!redirect && signed">Proceed on GitHub</a>
				</p>
			</div>
		</div>
	</div>
</div>