<div class="row main" style="margin-top: 70px;">
	<div class="container-fluid">

		<div class="row content-block" ng-hide="signed">
			<div class="col-md-8 col-md-offset-2" >
				<h4>Please sign the CLA for {{params.user}}/{{params.repo}}</h4>
				<div class="cla-box well">
					<div ng-bind-html="cla" ng-hide="signedCLA.text && diff"></div>
				</div>
<!-- 				<div class="well" style="margin: 50px;">
				<h1>Contributor License Agreement</h1>
					<div style="height: 400px; overflow-y: scroll; border: 1px solid lightgrey; padding: 10px;">
 						<div ng-bind-html="cla" ng-hide="signedCLA.text && diff"></div>
						<div ng-bind-html="cla" ng-if="signedCLA.text && diff" class="textdiff" semantic-diff left-obj="signedCLA.text" right-obj="cla.text" ></div>
					</div>
					<label ng-show="signedCLA.text" ng-init="diff = false">
						<input type="checkbox" ng-model="diff" >
						Show me changes since last agreement
					</label>
				</div> -->
				<p class="text-center">
    				<button class="btn btn-info" ng-show="!signed && repoExists" ng-click="agree()" style="width:100%; height:45px;">Sign in with GitHub to agree</button>
				</p>
			</div>
		</div>

		<div class="row center-block content-block" ng-show="signed">
			<h3>Thank you {{user.login}}</h3>
			<h4>for signing the CLA!</h4>
			</br>
			<h4 ng-show="!!redirect">we are now taking you back to GitHub</h4>
			<p ng-repeat="n in [1,2,3]" class="fa fa-circle dots" ng-class="'counter'+n"></p>
		</div>
	</div>
</div>
