<div ng-if="type != 'checkbox' && !type.enum" title="{{description}}">
    <label ng-class="{'required': required}">{{title || name}} </label>
    <div ng-show="description" class="description">({{description}})</div>
    <input ng-disabled="!logged || signed" class="form-control" ng-model="value[name]" title="{{description}}" type="{{type}}" min="{{min}}" max="{{max}}"></input>

</div>
<div ng-if="type == 'checkbox'" class="checkbox" title="{{description}}">
    <label ng-class="{'required': required}" title="{{description}}">
        <input ng-disabled="!logged || signed" ng-model="value[name]" title="{{description}}" type="{{type}}"/>
        {{title || name}}
    </label>
</div>
<div ng-if="type.enum" title="{{description}}">
    <label ng-class="{'required': required}" title="{{description}}">{{title || name}}</label>
    <div class="checkbox" ng-repeat="prop in type.enum">
        <input ng-disabled="!logged || signed" ng-model="value[name]" name="{{name}}" title="{{description}}" type="radio" value="{{prop}}"/>
        {{prop}}
    </div>
</div>
