

<!-- ----------ACTIVATE a CLA---------- -->
<!-- <div id="activate" class="content-block"> -->
<div id="activated_cla" ng-show="user.value.admin" class="row content-block">

	<div class="row" style="margin-bottom: 65px; padding-left:0px" ng-hide="newLink">
		<button class="btn btn-info" ng-click="newLink = !newLink" ng-init="newLink=false" style="font-size: 18px; font-weight: 200">Create New Link</button>
	</div>
	<div class="row" ng-show="newLink">
		<h4 class="col-xs-12" style="margin: 25px 0; padding-left: 0;">Create New Link</h4>
	</div>

	<div class="well row" ng-show="newLink" style="width:400px">
		<!-- <div class="col-xs-12">
		</div> -->
		<div ng-click="newLink = !newLink" class="fa fa-times close-button" style="position:absolute; left:350px"></div>

		<h5 style="font-size:18px; margin-left: -10px;">
			<span style="border: 1px solid; border-radius: 50%; width: 21px; text-align: center; display: inline-block;">1</span>&nbsp;Identify a CLA
		</h5>
		<div class="col-xs-12">
			<div style="margin-bottom: 5px;">Choose a CLA in Gist
				&nbsp;<span class="clickable" ng-click="info()" style="font-size:12px; text-decoration:underline">(Don't have one?)</span>
			</div>
		    <div class="form-group has-feedback" style="margin-bottom: 10px;">
		    	<ui-select ng-model="selectedGist.gist"  theme="selectize">
		            <ui-select-match placeholder="choose a gist file" allow-clear="true">
						<button class="fa fa-times clear-button" ng-click="clear($event)" ng-show="$select.selected.name"></button>
	            		{{$select.selected.name}}

		            </ui-select-match>
		            <ui-select-choices group-by="groupDefaultCla" repeat="gist in gists | filter: $select.search" null-option="emptyGist">
		              	<span ng-bind-html="gist.name | highlight: $select.search"></span>
		            </ui-select-choices>
		        </ui-select>
		    </div>
		    <div style="margin-bottom:10px">- or -</div>
		    <div style="margin-bottom: 5px;">Enter a URL from <a href="https://gist.github.com" target="space" style="text-decoration:underline">Gist</a></div>
			<input ng-disabled="selectedGist.gist.name" class="form-control" ng-model="selectedGist.gist.url" placeholder="https://gist.github.com/<your cla gist id>" required></input>
		</div>
		
		<h5 class="col-xs-12" style="font-size:18px; margin-left: -10px; margin-top:40px; padding-left:0px">
			<span style="border: 1px solid; border-radius: 50%; width: 21px; text-align: center; display: inline-block;">2</span>&nbsp;Choose a repository
		</h5>
		<div class="col-xs-12">
			<div></div>
		    <div class="form-group has-feedback">
		    	<ui-select ng-model="selectedRepo.repo"  theme="selectize">
		            <ui-select-match placeholder="choose a repository">{{$select.selected.full_name}}</ui-select-match>
		            <ui-select-choices repeat="repo in repos | filter: $select.search |notIn:claRepos">
		              	<span class="octicon" ng-class="{false:'octicon-repo', true:'octicon-repo-forked'}[repo.fork]"/>
		              	<span ng-bind-html="repo.full_name | highlight: $select.search"></span>
		            </ui-select-choices>
		        </ui-select>
		    </div>
		</div>
		<div ng-repeat="error in errorMsg" class="alert alert-danger col-xs-12" role="alert" ng-show="errorMsg.length > 0">
			<span class="fa fa-warning" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{ error }}
		</div>
	</div>
	<div class="row" style="width:400px; margin-bottom: 65px;" ng-show="newLink">
		<button class="btn btn-info col-xs-12" ng-click="addRepo()" ng-disabled="!selectedRepo.repo || !isValid(selectedGist.gist.url)" style="height: 45px">
			<img src="/assets/images/link_button.svg" style="height: 18px">
			LINK
		</button>
		
	</div>
	
<!-- </div> -->
<!-- ----------ACTIVATED CLAs---------- -->

	<!-- <h2 class="text-primary">Contributor License Agreement assistant <i class="fa fa-question-circle clickable" style="font-size:18px; color: gray; vertical-align:middle" ng-click="info()"></i></h2> -->

	<div class="row">
		<h4 class="col-xs-12" style="margin: 25px 0; padding-left: 0;">Linked Contributor License Agreements</h4>
	</div>
	<div class="well row" style="padding-top:25px;">
	  	<table  class=" table">
			<!-- <tr>
				<td>
				</td>
			</tr> -->
			<tr>
				<td>
        			<div class="row">
						<div class="col-xs-3 col-lg-2" style="padding-left:0">
							Repository
						</div>
						<div class="col-xs-3 col-lg-2">
							CLA
						</div>
						<div class="col-lg-3 hidden-xs hidden-sm hidden-md">
							Gist Link
						</div>
						<div class="col-xs-2 col-lg-2">
							CLA Version
						</div>
						<div class="col-xs-2 col-lg-1 text">
							Contributors
						</div>
        				<div class="col-xs-1 col-lg-1">
							Status
						</div>
        			</div>
				</td>
			</tr>
			<tr ng-repeat="claRepo in claRepos | orderBy:'repo' ">
				<td>
					<!-- <div class="col-xs-5">
						<span class="col-xs-11 clickable btn_padding" ng-click="getReport(claRepo)">
							<i class="octicon" ng-class="{false:'octicon-repo', true:'octicon-repo-forked'}[claRepo.fork]"></i>
							&nbsp; 
							{{ claRepo.owner }} / {{ claRepo.repo }}</span>
 					</div> -->
        			<!-- <div ui-view ng-if="settingsRepo.owner === claRepo.owner && settingsRepo.repo === claRepo.repo && openSettings" class="row settings"></div> -->
        			<div class="row">
        				<settings repo="claRepo" user="user" class="settings"></settings>
        			</div>
					

				</td>
			</tr>
		</table>
    </div>
</div>
