<!-- the navbar -->
  <div id="navbar" class="navbar navbar-default navbar-fixed-top" ng-class="{false:'hidden-xs hidden-sm', true:''}[!!user.value.login]" role="navigation">
    <div class="container-fluid" style="height: 60px; margin: 0px;">
      <div class="navbar-header navbar-home-left navbar-home-text" style="margin-left: 0px">
        <div ng-show="!!user.value.login">
          <a ng-href="{{user.value.html_url}}" target="spcae">
            <img ng-src="{{ user.value.avatar_url }}" style="height:25px;" />
            <a class="navbar-text-hide">&nbsp; Hey, <b>{{ user.value.login }}</b>!</a>
          </a>
        </div>
      </div>
      <div class="" ng-if="user.value.admin">
        <div class="nav navbar-nav navbar-home-right navbar-text">
          <a ng-show="!user.value.login" href="/auth/github" target="_self"><b>Sign in with GitHub</b></a>
          <a ng-hide="!user.value.login" href="/logout" target="_self" tooltip-placement="left" tooltip="Sign out" class="octicon octicon-sign-out" style="font-size:19px"></a>
        </div>
      </div>
      <div class="navbar-center navbar-home-text" style="z-index:-1">
        <a href="/">
          <img class="center-block img-responsive" src="/assets/images/logo_b.svg" style="width:55px;">
        </a>
      </div>
    </div>
  </div>
<div class="row main" style="margin-top: 70px;">
	<div class="row">
		<h4 class="col-xs-12" style="margin-bottom: 25px; padding-left: 0;">Signed CLA's</h4>
	</div>
	<div class="well row" style="padding-top: 25px;">
		<table class="table">
        <tbody>
  			<tr>
  				<td>
                    <div class="row">
    					<div ng-init="reverse=true; show_repo=false; show_created_at=false">
                            <div class="col-sm-1" style="padding-left:0">
    							Status
    						</div>
    						<div class="col-sm-4 clickable" ng-click="reverse=!reverse; order(['owner', 'repo'], reverse); show_repo=true; show_created_at=false" style="padding-left:0">
    							Repository
                                &nbsp;<span class="fa" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[reverse]" ng-if="show_repo==true"></span>

    						</div>
    						<div class="col-sm-4">
    							CLA
    						</div>
    						<div class="col-sm-3">
    							<span class="clickable" ng-click="reverse=!reverse; order('created_at', reverse); show_created_at=true; show_repo=false">Date of Signature</span>
                                &nbsp;<span class="fa" ng-class="{true:'fa-caret-down', false:'fa-caret-up'}[reverse]" ng-if="show_created_at==true"></span>
    						</div>
    					</div>
                    </div>
  				</td>
  			</tr>
  			<tr ng-repeat="signedCLA in signedCLAs">
  				<td>
  					<div class="row">
                        <script type="text/ng-template" id="validateRepo.html">
                    		<i class="fa" ng-if="!signedCLA.stat || signedCLA.revoked" style="white-space: nowrap;">Action required!</i>
                            <i class="fa" ng-if="signedCLA.stat && !signedCLA.revoked" style="white-space: nowrap;">Everything OK! </i>
                            // tooltip-placement="bottom" tooltip="Action may be required!"
                    	</script>
                        <div  class="col-xs-6 col-sm-1" style="padding-left:10px">
                          <img class="clickable" ng-if="!signedCLA.stat || signedCLA.revoked" src="/assets/images/link_inactive.svg" style="height:1.5em; min-height:15px;" popover-placement="left" popover-template="'validateRepo.html'" popover-trigger="mouseenter" popover-popup-delay="300" ng-click="getVersionView(signedCLA)">
                          <img ng-if="signedCLA.stat && !signedCLA.revoked" src="/assets/images/link_active.svg" style="height:1.5em; min-height:15px;" popover-placement="left" popover-template="'validateRepo.html'" popover-trigger="mouseenter" popover-popup-delay="300">
                  	    </div>
  						<div class="col-xs-12 col-sm-4" style="padding-left: 0;">
  							<a ng-href="https://github.com/{{ signedCLA.owner }}/{{ signedCLA.repo }}" target="space">
  								{{ signedCLA.owner }} / {{ signedCLA.repo }}
  							</a>
  						</div>
  						<div class="col-xs-12 col-sm-4">
  							<a ng-click="getClaView(signedCLA)" class="clickable" target="space">{{getGistName(signedCLA.gistObj)}}</a>
  						</div>
  						<div class="col-xs-12 col-sm-3">
  							{{signedCLA.created_at|date:'MMMM dd, yyyy'}}
  						</div>
                        <!--<div class="col-xs-6 col-sm-1 center-block">
                            <i class="fa fa-trash-o action-icon clickable" ng-if="!signedCLA.revoked" style="float:right; font-size:18px" tooltip-placement="bottom" tooltip="Revoke" ng-click="getRevokeView(signedCLA)"> </i>
                        </div>-->
  					</div>
  				</td>
  			</tr>
      </tbody>
		</table>
	</div>
</div>
