<!-- <div class="row settings_background"> -->
	<div class="separator"></div>
	<div style="margin-top:10px;">
		<!-- <span class="col-xs-2 form-control-static">
			CLA gist url  
		</span> -->
		
		<form name="claForm" class="col-xs-12 form-horizontal" ng-submit="update()">
			<div class="form-group">
				<div class="input-group">
					<input type="url" name="gist" class="form-control" ng-class="{'text-primary': repo.active && gist.linked, 'text-danger': (gist.linked && !gist.id) || !gistValid}" ng-model="repo.gist" placeholder="Enter Gist URL" required></input>
					<span class="input-group-btn">
			    		<button class="btn btn-info" type="submit">Link</button>
					</span>
					<!-- <span class="fa fa-info-circle clickable btn" style="position:absolute;" ng-click="info()"></span> -->
				</div>
				<span class="help-block">
			    	<!-- <span ng-show="!claForm.gist.$valid" class="fa">Please enter valid gist url here...</span> -->
					<span ng-show="loading" class="fa fa-spinner fa-spin"></span>
			    	<span ng-show="claForm.gist.$valid && !loading && gist.id.length > 0" >
			    		<i class="fa fa-check text-primary"></i>
			    		&nbsp;{{getGistName()}}, updated {{gist.updated_at | date:'longDate'}}</span>
			    	<span ng-show="claForm.gist.$valid && !loading && !gist.id && gist.linked || !gistValid"> 
			    		<i class="fa fa-times text-danger"></i>
			    		&nbsp;Something went wrong :( Please double-check your Gist URL 
			    		<!-- <br>&nbsp;(https://gist.github.com/&lt;gist id&gt;) -->
			    	</span>
				</span>
			</div>
		</form>
		
	</div>
