<!-- <div class="row settings_background"> -->
	<div class="separator"></div>
	<div style="margin-top:15px; margin-right:10px;">
		<span class="col-sm-2 form-control-static">
			CLA gist url  
			<span class="fa fa-info-circle clickable" ng-click="info()"></span>
		</span>
		
		<form name="claForm" class="col-sm-10 form-horizontal" ng-submit="update()">
			<div class="form-group">
				<div class="input-group">
					<input type="url" name="gist" class="form-control" ng-model="claRepo.gist" required></input>
					<span class="input-group-btn">
			    		<button class="btn btn-info" type="submit" ng-disabled="!claForm.gist.$valid">Link</button>
					</span>
				</div>
		    	<span ng-show="!claForm.gist.$valid" class="help-block">Please enter valid gist url here...</span>
			</div>
		</form>
		
	</div>
