<div id="{{name}}" [ngSwitch]="getType()">
  <div *ngSwitchCase="'checkbox'" class="checkbox" [title]="data.description">
    <label [class.required]="data.required" [title]="data.description">
      <input (change)="onChange($event)" [disabled]="disabled" [checked]="value" [title]="data.description"  type="checkbox">
      {{data.title || name}}
    </label>
  </div>
  <div *ngSwitchCase="'enum'"  [title]="data.description">
    <label [class.required]="data.required">{{data.title || name}} </label>
    <div class="form-check" *ngFor="let prop of data.type.enum">
        <input (change)="onChange($event)" [disabled]="disabled" [value]="prop" [checked]="prop==value" [title]="data.description"  type="radio"/>
        {{prop}}
    </div>    
  </div>
  <div *ngSwitchDefault [title]="data.description">
    <label [class.required]="data.required">{{data.title || name}} </label>
    <div *ngIf="data.description" class="description">({{data.description}})</div>
    <input 
      class="form-control"
      (input)="onChange($event)"
      [disabled]="disabled" 
      [value]="value" 
      [title]="data.description" 
      [type]="data.type" 
      [min]="data.minimum" 
      [max]="data.maximum">
  </div>
</div>