<app-frame>
	<div class="row main" style="margin-top: 70px;">
		<div class="container-fluid">

			<div class="row center-block content-block" *ngIf="noLinkedItemError">
				<h1>Error</h1>
				<p>There is no CLA to sign for {{fullRepoName}}</p>
				<p>({{noLinkedItemError}})</p>
			</div>

			<div class="row content-block" *ngIf="!redirect && !noLinkedItemError">
				<div class="col-md-8 col-md-offset-2" >
					<h4 *ngIf="!signed">Please sign the CLA for {{fullRepoName}}</h4>
					<h4 *ngIf="signed">You have signed the CLA for {{fullRepoName}}</h4>
					<div class="cla-box well">
						<div [innerHtml]="claText"></div>
					</div>

					<div *ngIf="hasCustomFields">
						<p class="text-center">
							<button *ngIf="!signed && claText && !loggedInUser" class="btn btn-info sign-btn"  (click)="signIn()">Sign in with GitHub to agree</button>
						</p>
						<div *ngIf="!!loggedInUser">
							<custom-field
								class="form-group"
								*ngFor="let key of customKeys"
								[name]="key"
								[data]="customFields[key]"
								[disabled]="signed"
								[value]="customValues[key]"
								(valueChange)="onChange(key, $event)"
								>
							</custom-field>
						</div>
					</div>

					<p class="text-center" *ngIf="!!loggedInUser && !signed && claText">
						<button 
							class="btn btn-info sign-btn" 
							*ngIf="hasCustomFields" 
							[disabled]="!customFieldsValid"
							(click)="agree()">
							I agree
						</button>
						<button 
							class="btn btn-info sign-btn" 
							*ngIf="!hasCustomFields" 
							(click)="agree()">
							Sign in with GitHub to agree
						</button>
					</p>
				</div>
			</div>

			<div class="row center-block content-block" *ngIf="signed && redirect">
				<h3>Thank you {{loggedInUser.login}}</h3>
				<h4>for signing the CLA!</h4>
				<br>
				<h4>we are now taking you back to GitHub</h4>
				<!--<p ng-repeat="n in [1,2,3]" class="fa fa-circle dots" ng-class="'counter'+n"></p>-->
			</div>

		</div>
	</div>
</app-frame>