<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>

    <div class="free-space">
        <h4>How does always allowing public members of organization work?</h4>
        <div>
            If
            If a GitHub organization is included in the list to be always allowed, public members of this organization
            will not be
            required to sign a CLA. We retrieve the list of <bold>public members</bold> of an organization to check
            this.
        </div>
        <h4>Why always allow an organization?</h4>
        <div>
            We see at least two use cases you may want to do so:
            <ul>
                <li>
                    You want your own organization members to not have to sign a CLA.
                </li>
                <li>
                    You have a CLA in place with another organization and allowing their organization ensures that the individuals don't have to sign a CLA.
                </li>
            </ul>
        </div>
    </div>
</div>
