<div class="modal-body modal-primary" >
    <div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div style="text-align: center; font-size:26px; margin-top: 20px;">
        Get your badge url
    </div>

    <div class="export-button row">
        <div class="form-group has-feedback col-xs-8">
            <ui-select ng-model="selectedType.type"  theme="selectize" on-select="badgeUrl = getBadgeUrl($select.search)">
                <ui-select-match allow-clear="false">
                    <div>{{$select.selected.type}}</div>
                </ui-select-match>
                <ui-select-choices repeat="type in types | filter: $select.search">
                    <span ng-bind-html="type.type | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
      <button type="button" class="btn btn-info col-xs-4" ng-clipboard data-clipboard-text="{{selectedType.type.url}}">Copy To Clipboard</button>
    </div>
    <div class="well get-badge" style="overflow-y:scroll">
        <p>
            {{selectedType.type.url}}
        </p>
    </div>
</div>
<div class="modal-body modal-primary">
    <img src='{{badgeUrl}}' alt='CLA assistant' /></a>
</div>

<!-- <div class="modal-body modal-primary" ng-show="!newContributors.loading">
    <span ng-show="contributors.length == 1"><b>{{contributors.length}}</b> contributor signed this CLA</span>
    <span ng-show="contributors.length != 1"><b>{{contributors.length}}</b> contributors signed this CLA</span>
</div> -->
