<div class="modal-header">
</div>
<div class="modal-body modal-primary">
    <div class="row ">
        <div class="col-sm-12">
            Would you lie to link your repo to your CLA in Gist?
        </div>
        <div></div>
    </div>
</div>
<div class="modal-body modal-primary" style="margin-top: 0">
	<div class="row ">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
