<!-- <div class="modal-header">
</div> -->
<div class="modal-body modal-primary">
	<div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
        Would you like to link this CLA<br> to your {{item.full_name ? 'repository' : 'organization'}}?
    </div>

    <div class="row" style="margin:50px; margin-bottom: 20px;">
    	<div class="col-sm-12 well center-block">
    		<img src="/assets/images/popup_link.svg" class="icon">
    		<p class="col-sm-6">{{gist.name}}</p>
    		<p class="col-sm-6">{{item.full_name ? item.full_name : item.login}}</p>
    	</div>
    </div>

    <div class="center-block row" style="font-size:18px;">
    	CLA assistant will...
		<ul class="col-sm-8 col-sm-offset-3" style="text-align:left">
			<li>Create a webhook in your {{item.full_name ? 'repository' : 'organization'}} and listen for pull requests</li>
			<li>Set a pull request CLA status</li>
			<li>Comment on pull requests</li>
		</ul>
    </div>

    <div style="text-align:right; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
	    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
	    <button class="btn btn-success" ng-click="ok()">Yes, let's do this!</button>
    </div>
</div>
