<!-- <div class="modal-header">
</div> -->
<div class="modal-body modal-primary">
	<div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
        Oops, something went wrong...
    </div>

    <!--<div class="row" style="margin:50px; margin-bottom: 20px;">
    	<div class="col-sm-12 well">

    	</div>
    </div>-->
    <div class="center-block row" style="margin-top:20px; margin-bottom:20px; font-size:18px">
        <b>What could be the problem?</b>
        <ul class="col-sm-7 col-sm-offset-3" style="text-align: left">    
            <li>The Gist has been deleted</li>
            <li>The Webhook in your repository could not be found</li>
        </ul>
    </div> 
    <div style="text-align:center; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
	    <button class="btn btn-cancel" ng-click="cancel()" style="padding-left:20px; padding-right:20px;">OK</button>
    </div>
</div>