<div class="modal-header">
    <h3 class="modal-title">GitHub Gist</h3>
</div>
<div class="modal-body row free_space">
	<h4>What is Gist?</h4>
    <p>  
    Gist is a simple way to share snippets and pastes with others. All gists are Git repositories, so they are automatically versioned, forkable and usable from Git.</p>
</div>

<div class="modal-body row free_space">
    <h4>How can I create a Gist file?</h4>
    <div>
    	<ul>
    		<li>Go to <a href="http://gist.github.com" class="text-primary">gist.github.com</a> and sign in with your GitHub account</li>
    		<li>Enter a prefered file name and content of your contributor license agreement</li>
    		<li>Choose whether you want to keep it private or make it public (for more information about differnce between private and public files see <a href="https://help.github.com/articles/about-gists/" class="text-primary">github documentation</a> )</li>
    	</ul>

    	<div style="text-align: center">
    		<img ng-if="show1" ng-init="show1=false" src="../../assets/images/gist_tutorial.gif">
    		<button ng-show="!show1" ng-click="show1 = !show1" class="btn btn-default free_space">Show screencast</button>
    		<button ng-show="show1" ng-click="show1 = !show1" class="btn btn-default free_space">Hide screencast</button>
    	</div>
    </div>
</div>

<div class="modal-body row free_space">
    <h4>How can I use Gist for CLA assistant?</h4>
    <div>  
    	All you need to do is just copy and paste (or drag and drop) the url of your Gist into CLA assistant and push the update button

    	<div style="text-align: center">
    		<img ng-show="show2" ng-init="show2=false" src="../../assets/images/gist_tutorial_2.gif">
    		<button ng-show="!show2" ng-click="show2 = !show2" class="btn btn-default free_space">Show screencast</button>
    		<button ng-show="show2" ng-click="show2 = !show2" class="btn btn-default free_space">Hide screencast</button>
    	</div>
    </div>
</div>

<div class="modal-body row free_space">
    <h4>What happens if I edit the Gist file?</h4>
    <div>  
    	CLA assistant shows allways the current version of your Gist file. Users who accept your contributor license agreement, do it for the current version. If you change the content of your CLA later each contributor has to accept the new version of the CLA even if they have accepted the previous version.  But they have to do it only for new contributions / pull requests.
    </div>
</div>

<div class="modal-footer">
</div>