<div class="modal-header">
    <h3 class="modal-title">GitHub Gist</h3>
</div>
<div class="modal-body row">
	<h5 class="col-sm-2">What is Gist?</h5>
    <p class="col-sm-10">  
    Gist is a simple way to share snippets and pastes with others. All gists are Git repositories, so they are automatically versioned, forkable and usable from Git.</p>
</div>

<div class="modal-body row">
    <h5 class="col-sm-2">How can I create a Gist?</h5>
    <div class="col-sm-10">  
    	<ul>
    		<li>Go to <a href="http://gist.github.com">gist.github.com</a> and sign in with your GitHub account</li>
    		<li>Enter a prefered file name and content of your contributor license agreement</li>
    		<li>Choose whether you want to keep it private or make it public (for more information about differnce between private and public files see <a href="https://help.github.com/articles/about-gists/">github documentation</a> )</li>
    	</ul>

    	<img src="../../assets/images/gist_tutorial.gif" style="width:80%; border:solid 1px lightgrey">
    </div>
</div>

<div class="modal-body row">
    <h5 class="col-sm-2">How can I use Gist for CLA assistant?</h5>
    <div class="col-sm-10">  
    	All you need to do is just copy and paste (or drag and drop) the url of your Gist into CLA assistant and push the update button

    	<img src="../../assets/images/gist_tutorial_2.gif" style="width:80%; border:solid 1px lightgrey">
    </div>
</div>

<div class="modal-body row">
    <h5 class="col-sm-2">What happens if I edit the Gist file?</h5>
    <div class="col-sm-10">  
    	CLA assistant shows allways the current version of your Gist file. Users who accept your contributor license agreement, do it for the current version. If you change the content of your CLA later each contributor has to accept the new version of the CLA even if they have accepted the previous version.  But they have to do it only for new contributions / pull requests.
    </div>
</div>

<div class="modal-footer">
</div>