<div class="modal-body modal-primary" style="height:555px">
	<div ng-click="cancel()" class="fa fa-times" style="float:right; color:grey; cursor:pointer"></div>
	<div class="row" style="text-align: center; font-size:26px; margin-top: 20px;" ng-show="linkStatus == 'linked'">
		Awesome!
	</div>
    <div class="row" style="text-align: center; font-size:26px; margin-top: 20px;" ng-show="linkStatus == 'failed'">
        Oops! Something went wrong!
    </div>

    <div class="row" style="margin:30px 50px">
    	<div class="col-sm-12 center-block" ng-class="{well:!!linkStatus}">
    		<img src="/assets/images/link_inactive.svg" class="spin-img" ng-show="!linkStatus" style="margin:10px; margin-top:50%">
    		<img src="/assets/images/howto4.svg" class="icon" ng-show="linkStatus == 'linked'">
    		<img src="/assets/images/error.svg" class="icon" ng-show="linkStatus == 'failed'">
    		<!-- <p class="col-sm-6">{{gist.name}}</p>
    		<p class="col-sm-6">{{repo.full_name}}</p> -->
    	</div>
    </div>

    <div class="center-block row" style="font-size:18px;" ng-show="linkStatus == 'linked'">
    	<p><b>{{selected.gist.name}}</b> and <b>{{selected.item.full_name ? selected.item.full_name : selected.item.login}}</b> <br>
    	are now linked
    	</p>
    </div>

    <div style="text-align:center; margin-top: 30px;">
		<div ng-repeat="error in errorMsg" class="alert alert-danger col-xs-12" role="alert" ng-show="errorMsg.length > 0">
			<span class="fa fa-warning" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{ error }}
		</div>
	    <!-- <button class="btn btn-success" ng-click="ok()">Yes, let's do this!</button> -->
	    <button class="btn btn-success" ng-click="cancel()" ng-show="linkStatus == 'linked'">Great, thanks!</button>
    </div>
</div>
