
<div class="modal-body modal-primary">
	<div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
        Upload
    </div>

    <div class="center-block row" style="font-size:18px;">
    	Upload a CSV file containing all the GitHub usernames
        of contributers who have already signed your CLA.
    </div>

    <form class="form-inline" style="margin: 20px 0;">
        <div class="form-group">
            <span class="btn btn-default btn-file">
                Browse <input type="file" name="file" accept=".csv" file-model="file">
            </span>
        </div>
        <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="header">
                First row is header information
              </label>
            </div>
        </div>
    </form>

    <div class="well" ng-show="json.data.length" style="display: block; max-width: 568px; overflow-x: scroll; padding: 0;">
        <table class="table table-condensed table-bordered" style="margin-bottom: 0;">
            <tr>
                <th ng-repeat="datum in json.data[0]" 
                    ng-click="$parent.selected=$index" 
                    ng-class="{warning: selected===$index}">
                    <i class="fa fa-check-circle-o hover-icon text-center" 
                       ng-class="{'text-muted': selected!==$index, 'text-success': selected===$index}"
                       style="display: block"></i>
                </th>
            </tr>
            <tr ng-repeat="i in (header ? [1, 2] : [0, 1, 2])">
                <td ng-repeat="datum in json.data[i] track by $index" 
                    ng-class="{warning: selected===$index}">
                    {{ datum }}
                </td>
            </tr>
        </table>
    </div>

    <p ng-show="json.data.length" class="text-right">
        {{ json.data.length - (header ? 1 : 0) }} rows total
    </p>

    <div style="text-align:right; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
	    <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
        <button class="btn btn-info" ng-click="upload(selected)" ng-disabled="!json || (!selected && selected !== 0)">Upload</button>
    </div>
</div>
