<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>
    <div class="row title">
        In which repository do you want to recheck the pull requests?
    </div>

    <div class="free-space">
        <div class="form-group has-feedback">
            <ui-select ng-model="selectedRepo.item"  theme="selectize">
                <ui-select-match placeholder="select">
                    <button class="fa fa-times clear-button" ng-click="clear($event, 'repo')" ng-show="$select.selected.name"></button>
                    {{$select.selected.name}}</ui-select-match>
                <ui-select-choices  group-by="groupOrgs" repeat="repo in repos | filter: $select.search | filter: isOrgRepo ">
                    <span class="octicon" ng-class="{false:'octicon-repo', true:'octicon-repo-forked'}[repo.fork]"/>
                    <span ng-bind-html="repo.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <button class="btn btn-info" ng-click="ok()" ng-disabled="!selectedRepo.item">
        Recheck
    </button>

</div>