<div class="modal-body modal-primary">
	<div ng-click="cancel()" class="fa fa-times" style="float:right; color:grey; cursor:pointer"></div>
	<!--<div class="cla-box well" style=" margin-top:50px; margin-right:25px; margin-left:25px; margin-bottom:25px;">
		<div class="textdiff" semantic-diff left-obj="cla.text" right-obj="diff.text" ></div>
	</div>
	-->

	<div ng-if="showCLA && !noCLA">
		<div class="center-block">
			<div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
				Sorry, your actual signed CLA is outdated...
			</div>
			<div class="center-block row" style="font-size:18px; margin-top: 20px;">
    		A new CLA has been linked to this Repository.
    	</div>
			<div style="text-align:center; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
				<button class="btn btn-success" ng-click="openNewCla()" style="margin-left:0;">Take me to the new CLA</button>
			</div>
		</div>
	</div>
	<div ng-if="!showCLA && !noCLA">
			<div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
				Sorry, your actual signed CLA is outdated...
			</div>
			<div class="center-block row" style="font-size:18px; margin-top: 20px;">
				A new version of the CLA is available.
				Please consider to view the changes and to resign the CLA.
			</div>
			<div style="text-align:center; margin-top: 50px; margin-bottom: 15px; margin-right: 10px;">
				<button class="btn btn-cancel" ng-click="openRevision()" style="margin-left:0;">Show me the changes</button>
				<button class="btn btn-success" ng-click="openNewCla()">Let me resign!</button>
			</div>
	</div>
	<div ng-if="noCLA">
		<div class="row" style="text-align: center; font-size:26px; margin-top: 20px;">
			There is currently no CLA linked to this repository.
		</div>
		<div class="center-block row" style="font-size:18px; margin-top: 20px; margin-bottom: 20px;">
			Please wait, until the owner has linked a CLA.
		</div>
	</div>
</div>
