<div>
  <div class="card card-block row new-link-form-card card-block">
    <div (click)="onClose.emit()" class="fa fa-times close-button new-link-close"></div>

    <h5 class="new-link-choose-cla-outer">
      <span class="new-link-choose-cla-inner">1</span>&nbsp;Choose a CLA
    </h5>
    <div class="col-xs-12">
      <div class="new-link-select-gist">Select from Gist &nbsp;
        <span class="clickable new-link-select-gist-info" (click)="infoModal.open()">(don't have one?)</span>
        <info-modal #infoModal></info-modal>
      </div>
      <dropdown 
        #gistDropdown
        [categories]="getGistCategories()"
        (onSelect)="handleGistSelected($event)">
      </dropdown>
      <div class="new-link-select-gist-sep">- or -</div>
      <div class="new-link-gist-url-outer">Paste a URL from a Gist</div>
      <input #urlInput [disabled]="selectedGist.fileName" class="form-control" (keyup)="selectedGist.url = urlInput.value" [value]="selectedGist.url" placeholder="https://gist.github.com/<your cla gist id>" />
    </div>

    <h5 *ngIf="!isUserOrgAdmin" class="col-xs-12 new-link-choose-repo-outer">
      <span class="new-link-choose-repo-inner">2</span>&nbsp;Choose a repository
      <span class="clickable" (click)="addScope()" style="font-size:12px; text-decoration:underline">(want to link an org?)</span>
    </h5>
    <h5 *ngIf="isUserOrgAdmin" class="col-xs-12 new-link-choose-repo-outer">
      <span class="new-link-choose-repo-inner">2</span>&nbsp;Choose an org or a repo
    </h5>
    <div class="col-xs-12">
      <div></div>
      <dropdown 
        #repoOrgDropdown
        [categories]="getRepoOrgCategories()"
        (onSelect)="handleRepoOrOrgSelected($event)">
      </dropdown>
    </div>

  </div>
  <div class="row link-div">
    <button class="btn btn-info col-xs-12 link-btn" (click)="link()" [disabled]="!validateInput()">        
      <img src="/assets/images/link_button.svg" class="link-img">
      LINK
		</button>
    <confirm-add-modal [gist]="selectedGist" [item]="selectedRepoOrOrg">
    </confirm-add-modal>
  </div>
</div>