<div class="row">
  <h4 class="col-xs-12 linked-clas-heading">Linked {{itemType == 'repo' ? 'Repositories' : 'Organizations'}}</h4>
</div>
<div class="card card-block row linked-clas-list">
  <table class=" table">
    <tr>
      <td>
        <div class="row linked-clas-list-heading">
          <div class="col-sm-3 col-lg-2 linked-clas-list-first-col">
            {{itemType == 'repo' ? 'Repository' : 'Organization'}}
          </div>
          <div class="col-sm-3 col-lg-2">
            CLA
          </div>
          <div class="col-lg-3 hidden-xs-down hidden-md-down hidden-lg-down">
            Gist
          </div>
          <div class="col-sm-2 col-lg-2">
            Last updated
          </div>
          <div class="col-sm-2 col-lg-1 text">
            Contributors
          </div>
          <div class="col-sm-1 col-lg-2">
            Status
          </div>
        </div>
      </td>
    </tr>
    <tr *ngFor="let claItem of sortedClaItems">
      <td>
        <linked-item-row [item]="claItem" (onUnlink)="unlinkItem($event)"></linked-item-row>
      </td>
    </tr>
  </table>
</div>
<confirm-remove-modal></confirm-remove-modal>