<div class="row linked-clas-list-heading settings">
    <div class="col-xs-12 col-sm-3 col-lg-2 linked-clas-list-first-col">
        <div class="text clickable">
            <repository-link
                *ngIf="item.getType() === 'repo'" 
                [repo]="item.getCompleteObject()">
            </repository-link>
            <!--<a *ngIf="item.getType() === 'org'" ng-href="https://github.com/{{ item.org }}" target="space">
                <img src="{{item.avatar_url}}" alt="" class="org">&nbsp; {{ item.org }}
            </a>-->
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-lg-2">
        <div *ngIf="gistValid" class="text">
            <a bind-href="gist.html_url" target="space">{{gist.fileName}}</a>
        </div>
    </div>

    <div class="col-xs-12 col-lg-3 hidden-xs hidden-sm hidden-md text">
        <a bind-href="gist.html_url" target="space">{{gist.html_url}}</a>
    </div>

    <div class="col-xs-12 col-sm-2 col-lg-2 text">
        {{gist.updated_at | date:'longDate'}}
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-1 linked-clas-show-contrib-col">
        <a class="clickable">{{signatures.length}}</a>
    </div>

    <!-- <script type="text/ng-template" id="validateLink.html">
        <i class="fa" ng-class="valid.gist ? 'fa-check' : 'fa-times'" style="white-space: nowrap;"> gist</i>
        <i class="fa" ng-class="valid.webhook ? 'fa-check' : 'fa-times'" style="white-space: nowrap;"> webhook</i>
    </script> -->
    <div class="col-xs-4 col-sm-1 col-lg-1 center-block">
        <!--<img   class="is-link-active-img" [src]="isLinkActive() ? '/client/assets/images/link_active.svg' : '/client/assets/images/link_inactive.svg'" popover-placement="right" popover-template="'validateLink.html'" popover-trigger="mouseenter" popover-popup-delay="300">-->
        <img class="is-link-active-img" [src]="isValid() ? '/assets/images/link_active.svg' : '/assets/images/link_inactive.svg'">
    
    </div>

    <!-- <script type="text/ng-template" id="moreActions.html">
        <button class="btn btn-info" ng-click="upload(repo)" style="width:100%">Import</button>
        <button class="btn btn-info" ng-click="recheck(repo)" style="margin-top:5px; width:100%">Recheck PRs</button>
        <button class="btn btn-info" ng-click="getBadge(repo)" style="margin-top:5px; width:100%">Get Badge</button>
    </script> -->
    <div class="col-xs-4 col-sm-1 action" ng-init="popoverIsOpen=false">
        <i class="fa fa-ellipsis-h action-icon" tooltip-placement="bottom" tooltip="More..."></i>
        <i class="fa fa-trash-o action-icon" style="font-size:18px" (click)="onUnlink.emit(item)" data-toggle="tooltip" data-placement="bottom" title="Unlink" activate-tooltip ></i>
        <!--<i class="fa fa-ellipsis-h action-icon"  data-toggle="tooltip" data-placement="bottom" title="More..." activate-tooltip
             popover-placement="right" popover-template="'moreActions.html'" popover-is-open="popoverIsOpen"></i>
        -->
    </div>
</div>