.counter1 {
  -webkit-animation: counter 1s 1s 1 ;
  -moz-animation:    counter 1s 1s 1 ;
  -o-animation:      counter 1s 1s 1 ;
  animation:         counter 1s 1s 1 ;
}

.counter2 {
  -webkit-animation: counter 1s 3s 1 ;
  -moz-animation:    counter 1s 3s 1 ;
  -o-animation:      counter 1s 3s 1 ;
  animation:         counter 1s 3s 1 ;
}

.counter3 {
  -webkit-animation: counter 1s 5s 1 ;
  -moz-animation:    counter 1s 5s 1 ;
  -o-animation:      counter 1s 5s 1 ;
  animation:         counter 1s 5s 1 ;
}

@-webkit-keyframes counter {
  0%, 100% { color: $gray; }
  50% { color: $gray-darkest; }
}
@-moz-keyframes counter {
  0%, 100% { color: $gray; }
  50% { color: $gray-darkest; }
}
@-o-keyframes counter {
  0%, 100% { color: $gray; }
  50% { color: $gray-darkest; }
}
@keyframes counter {
  0%, 100% { color: $gray; }
  50% { color: $gray-darkest; }
}