.btn {
  &.btn-info {
    @include button-variant($brand-primary-darkest, $brand-primary-lightest, $brand-primary); 
    /*@color; @background; @border*/
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include opacity(.3);
  }
}

.btn_padding {
  padding: 6px 12px;
}

.btn_tab, 
.btn_tab:active, .btn_tab.active,
.btn_tab:focus, .btn_tab.focus,
.btn_tab:hover, .btn_tab.hover 
{
  z-index: 1;
  background-color: $gray-light;
  border-bottom-color: $gray-light;
  border-top-color: darken($brand-info, 12%);
  border-right-color: darken($brand-info, 12%);
  border-left-color: darken($brand-info, 12%);
  outline: none;
}
