.btn {
  /*border-radius: 5px;*/
}

.btn {
  &.btn-info {
    @include button-variant($brand-primary-lightest, $brand-primary, $brand-primary); 
    /*@color; @background; @border*/
  }
  &.btn-success {
    @include button-variant($brand-primary-lightest, $green, $green); 
    /*@color; @background; @border*/
  }
  &.btn-cancel {
    @include button-variant($gray-darker, $gray, $gray); 
    /*@color; @background; @border*/
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include opacity(.3);
  }
}

.btn_padding {
  padding: 6px 12px;
}

.btn_tab, 
.btn_tab:active, .btn_tab.active,
.btn_tab:focus, .btn_tab.focus,
.btn_tab:hover, .btn_tab.hover 
{
  z-index: 1;
  background-color: $gray-light;
  border-bottom-color: $gray-light;
  border-top-color: darken($brand-info, 12%);
  border-right-color: darken($brand-info, 12%);
  border-left-color: darken($brand-info, 12%);
  outline: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
