.btn {
  &.btn-link {
    color: $brand-primary-muted;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }

    &.active {
      background: none;
      box-shadow: none;
      color: $brand-primary;
    }

    &.inverse {
      color: $gray;
      padding: 3px 0 0 5px;

      &:hover,
      &.active {
        color: #fff;
      }
    }
  }

  &.btn-info {
    @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  }
}

.btn_padding {
  padding: 6px 12px;
}

.btn_tab, 
.btn_tab:active, .btn_tab.active,
.btn_tab:focus, .btn_tab.focus,
.btn_tab:hover, .btn_tab.hover 
{
  z-index: 1;
  background-color: $gray-light;
  border-bottom-color: $gray-light;
  border-top-color: darken($brand-info, 12%);
  border-right-color: darken($brand-info, 12%);
  border-left-color: darken($brand-info, 12%);
  outline: none;
}
