.new-link{
  margin-bottom: 65px;
  padding-left:0px;
}

.new-link-btn{
  font-size: 18px;
  font-weight: 200;
}

.new-link-form-heading{
  margin: 25px 0;
  padding-left: 0;
}

.new-link-form-well{
  max-width:400px;
  position:relative;
}

.new-link-close{
  position: absolute;
  right: 20px;
}

.new-link-choose-cla-outer{
  font-size: 18px;
  margin-left: -10px;
}

.new-link-choose-cla-inner{
  border: 1px solid;
  border-radius: 50%;
  width: 21px;
  text-align: center;
  display: inline-block;
}

.new-link-select-gist{
  margin-bottom: 5px;
}

.new-link-select-gist-info{
  font-size: 12px;
  text-decoration: underline;
}

.new-link-select-gist-dd-outer{
  margin-bottom: 10px;
}

.new-link-select-gist-sep{
  margin-bottom:10px;
}

.new-link-gist-url-outer{
  margin-bottom: 5px;
}

.new-link-choose-repo-outer{
  font-size: 18px;
  margin-left: -10px;
  margin-top: 40px;
  padding-left: 0px;
}

.new-link-choose-repo-inner{
  border: 1px solid;
  border-radius: 50%;
  width: 21px;
  text-align: center;
  display: inline-block;
}

.link-div{
  max-width: 400px;
  position: relative;
  margin-bottom: 65px;
}

.link-btn{
  height: 45px;
}

.link-img{
  height: 18px;
}
