.user-avatar{
  height:25px;
}

.home-logout{
  font-size:19px;
}

.home-content-outer{
  margin-bottom: 50px;
  padding-top: 70px;
}

.home-content-inner{
  margin-left: 15px;
  margin-right: 15px
}
