.lp-premium {
  /*background-color: $brand-primary;*/
  background-image: url('/assets/images/shattered_green.png');
  color: $text-invert;
}

.lp-highlight {
  color: $text-primary;
}

.lp-shattered {
  background-image: url('/assets/images/shattered.png');
}

.lp-gray {
  background-color: $gray;
}

.lp-section-header {
  @extend .col-xs-12;
  
  font-weight:500;
  margin-top:20px;
}

.lp-section-header.left {
    @extend .col-md-3;
    @extend .col-md-offset-1;
    
    padding-right:35px;
    text-align:right;
}

.lp-section-header.center {
    text-align: center;
}
  
.lp-section-content {
  margin-top: 20px; 
  margin-bottom: 40px;
  font-weight:200;
  font-size:1.6em;
}

.lp-list {
  margin-left:-40px;
  margin-top:50px;
  line-height: 32px;
}

.lp-mobile-container {
  @media (max-width: 991px) {
    .lp-list {
      margin-left: 0px;
    }

    .lp-section-header{
      text-align: center;
    }
  }
}

a.lp-signin {
  color: $text-invert;
  text-decoration: none;
  float: right;
  margin: 20px;
}

a.lp-signin:hover, a.lp-signin:focus {
  color: $text-color;
}

.carousel-control .fa {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

.carousel-inner {
	left: 7px;
}

.carousel-inner img {
	@extend .center-block;
}

.carousel-caption {
	position: initial;
	color: $text-color;
	text-shadow: none;
}
