.lp-main{
  overflow-x: hidden;
}

.lp-background-main {
  position: fixed;
  z-index: -1;
  bottom: 0;
  height: 100vH;
  width: 100%;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lp-background-overlay {
  background:black;
  opacity:0.5;
  height:100%;
}

.lp-main-cla-img{
  width:200px;
}

.lp-header {
  margin: 25px 70px;
  height: 75px;
  border: 1px;
  border-bottom-style: solid;
  color: white;
  position: relative;

  .navbar-brand {
	padding-left: 10px;
	padding-top:0
  }

  .lp-signin {
	position:absolute;
	top:auto;
	bottom:15px;
	right:10px;
  }
}

.cla-logo{
  width: 55px;
}

.lp-first-block{
  font-size: 25px;
  font-weight: 200;
  line-height: 36px;
  margin-top: 30px;
}

.lp-signin-button{
  margin-top: 20px;
  width: 195px;
  font-size: 16px
}

.lp-features-outer-div{
  margin-bottom:50px
}

.lp-second-block{
  font-size: 25px;
}


.lp-start-view {
  position: relative;
  height: 100vH;
}

.lp-premium {
  color: $text-invert;
}

.lp-premium-darker {
  background-color: lightgrey;
  color: $brand-primary-darkest;
}

.lp-white {
  background-color: $brand-primary-lightest;
}

.lp-section {
  font-size: 25px;
  padding:50px;
}

.lp-list {
  margin-left:-40px;
  margin-top:50px;
  line-height: 32px;
}

.container-fluid .lp-section{
  padding: 25px 0px;
}

.lp-row {
  position: absolute;
  width:100%;
}

.lp-bottom-space {
	margin-bottom: 30px;
}

img.step-icon{
  height:170px;
}

// a.lp-signin {
//   color: $text-invert;
//   text-decoration: none;
//   float: right;
//   margin: 20px;
// }
//
a.lp-signin:hover, a.lp-signin:focus {
  color: $text-invert;
}

/*.feature-title-add, .feature-title-remove,
.lp-section-shutter-add, .lp-section-shutter-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}*/
.feature-box {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  border: rgba(211, 211, 211, 0.25) solid 2px;
}

@media(min-width: 701px) and (max-width: 1314px){
  .feature-col{
	width: 550px;
  }
}

@media(min-width: 1315px){
  .feature-col{
	width: 1100px;
  }
}


@media(max-width: 610px){
  .col-xs-12 {
	width: 100%;
  }
}


.feature-title, .feature-title-add.feature-title-add-active {
  top: 10 !important;
}

.lp-section-shutter, .lp-section-shutter-add.lp-section-shutter-add-active {
  margin-top: -25%;
}

.lp-section-shutter-remove.lp-section-shutter-remove-active {
}

.lp-textblock
{
  color:white;
  margin-left:100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  i {
	  font-size: 25px;
  }
}

.lp-textblock-icon {
	height:25px;
	margin-bottom:10px;
}

.section-show-add, .section-show-remove,
.lp-textblock-animate-add, .lp-textblock-animate-remove,
{
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.section-show, .section-show-add.section-show-add-active {
  top:0;
  height: 500px;
  padding: 25px 0px;
}

.section-show-remove.section-show-remove-active {
  padding: 0;
  height: 250px;
}

.lp-textblock-animate, .lp-textblock-animate-add.lp-textblock-animate-add-active {
  opacity: 1;
  margin-left: 0 !important;
}

.lp-textblock-animate-remove.lp-textblock-animate-remove-active {
  opacity: 0;
  margin-left: -100% !important;
}


.lp-screenshot {
  margin-left: 0px;
}

.feature-show.ng-hide-add.ng-hide-add-active,
.feature-show.ng-hide-remove.ng-hide-remove-active,
.next-step-show.ng-hide-add.ng-hide-add-active,
.next-step-show.ng-hide-remove.ng-hide-remove-active,
.feature-title-add, .feature-title-remove,
.lp-screenshot,
{
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.feature-show {
  opacity: 0.9;
  height: 250px;
  bottom: 0;
}

.feature-show.ng-hide {
  opacity: 0;
  /*top: 50%;*/
  height: 1px;
}

.feature-text {
	bottom:0;
	background-color:white;
	color:#2c3e50;
	text-align:center;
	font-size:20px;
	padding-top: 3em;
	padding-left: 10px;
	padding-right: 10px;
}

.feature-header {
	text-align: center;
	top: 160px;
}

.feature-img {
	height:50%;
	margin: 30px auto;
}

.lp-feature{
  display: inline-block;
}

.lp-hassle-free-signing-outer{
  font-size:18px;
}

.lp-hassle-free-signing-list{
  padding: 0;
  list-style-position: inside;
}

.lp-activity{
  height: 400px;
}

.lp-activity-content{
  text-align: center;
  margin-top: 3em;
}

.lp-howto-img{
  height: 150px;
}

.lp-howto1-outer{
  margin-top: 75px;
}


.lp-howto-main-text{
  font-size: 24px;
  color: #009245;
  margin-top: 1em;
}

.lp-howto-sub-text{
  font-size: 18px;
}

.lp-preview{
  margin-bottom:40px;
}

.next-step-show {
  opacity: 1;
}

.next-step-show.ng-hide {
  opacity: 0;
}

.footer-copyright{
  margin-bottom: 0px;
}

.footer-made-by{
  z-index:-1;
}

.footer-terms-of-service{
  margin-right: 10px;
}

@media(min-width: 768px){
  .how-to-align-left{
	text-align: left;
  }

  .how-to-align-right{
	text-align: right;
  }

  .float-left{
	float: left;
  }

  .float-right{
	float: right;
  }

  .lp-resize{
	height: auto;
  }
}

.preview-browser {
	height:20px;
	width:661px;
}

@media(max-width: 767px){
  .how-to-align{
	text-align: center;
  }

  .float-right-to-center{
	float: right;
	position: relative;
	left: -50%; /* or right 50% */
	text-align: left;
  }

  .float-left-to-center{
	float: left;
	position: relative;
	right: 50%; /* or left -50% */
	text-align: left;
  }
}


@media(max-width: 599px){
  .lp-header{
	display: none;
  }
  .lp-hide-text{
	display: none;
  }
}
