.lp-premium {
  /*background-color: $brand-primary;*/
  /*background-image: url('/assets/images/shattered_green.png');*/
  color: $text-invert;
}

.lp-premium-darker {
  background-color: lightgrey;
  color: $text-invert;
}

.lp-white {
  background-color: $brand-primary-lightest;
}

.lp-section {
  /*overflow: hidden;*/
  font-size: 25px;
  padding:50px;
}

.lp-section-round {
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}

.lp-list {
  margin-left:-40px;
  margin-top:50px;
  line-height: 32px;
}

.lp-mobile-container {
  @media (max-width: 991px) {
    .lp-list {
      margin-left: 0px;
    }

    .lp-section-header{
      text-align: center;
    }
  }
}

.container-fluid .lp-section{
  padding: 25px 0px;
}

.lp-row {
  position: absolute;
  width:100%;
}

img.step-icon{
  height:170px;
}

a.lp-signin {
  color: $text-invert;
  text-decoration: none;
  float: right;
  margin: 20px;
}

a.lp-signin:hover, a.lp-signin:focus {
  color: $text-color;
}

/*.feature-title-add, .feature-title-remove,
.lp-section-shutter-add, .lp-section-shutter-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}*/
.feature-box {
  height: 250px; 
  width: 250px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  border: rgba(211, 211, 211, 0.25) solid 2px;
}

@media(max-width: 700px){
  .my-col{
    width: 225px;
  }
}

@media(min-width: 701px) and (max-width: 1314px){
  .my-col{
    width: 550px;
  }
}

@media(min-width: 1315px){
  .my-col{
    width: 1100px;
  }
}

.feature-title, .feature-title-add.feature-title-add-active {
  top: 10 !important;
}

.lp-section-shutter, .lp-section-shutter-add.lp-section-shutter-add-active {
  margin-top: -25%;
}

.lp-section-shutter-remove.lp-section-shutter-remove-active {
}

.lp-textblock
{
  color:white;
  margin-left:100%;
  position: absolute;
  width: 100%;
  opacity: 0;
}

.section-show-add, .section-show-remove,
.lp-textblock-animate-add, .lp-textblock-animate-remove,
{
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.section-show, .section-show-add.section-show-add-active {
  top:0;
  height: 500px;
  padding: 25px 0px;
}

.section-show-remove.section-show-remove-active {
  padding: 0;
  height: 250px;
}

.lp-textblock-animate, .lp-textblock-animate-add.lp-textblock-animate-add-active {
  opacity: 1;
  margin-left: 0 !important;
}

.lp-textblock-animate-remove.lp-textblock-animate-remove-active {
  opacity: 0;
  margin-left: -100% !important;
}


.lp-screenshot {
  margin-left: 0px;
}

.feature-show.ng-hide-add.ng-hide-add-active,
.feature-show.ng-hide-remove.ng-hide-remove-active,
.next-step-show.ng-hide-add.ng-hide-add-active,
.next-step-show.ng-hide-remove.ng-hide-remove-active,
.feature-title-add, .feature-title-remove,
.lp-screenshot,
{
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.feature-show {
  opacity: 0.9;
  height: 250px;
  bottom: 0;
}

.feature-show.ng-hide {
  opacity: 0;
  /*top: 50%;*/
  height: 1px;
}

.next-step-show {
  opacity: 1;
}

.next-step-show.ng-hide {
  opacity: 0;
}
