.link-topic-1, .link-topic-2 {
    font-size:18px;
    margin-left: -10px;
}

.link-topic-2 {
    margin-top:40px;
    padding-left:0px
}

.link-topic-number {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 21px;
}