.modal-header {
	padding: 15px 35px;
}

.modal-body {
	padding: 15px 35px;
}

.modal-primary{
	background-color: $gray-lighter;
  	color: $gray-darkest;
}

.modal-primary-2nd{
	background-color: $brand-primary-2nd; 
	color: $gray-lighter; 
}


.howto .modal-dialog {
  width: 80%;
  max-width: 1010px;   
  min-width: 800px;
  
  img {
    width:100%; 
    border:solid 1px lightgrey; 
    margin-top: 30px;
  }
}

.confirm-add .modal-dialog{
	width: 550px;
	.icon {
		width:300px;
		border:none;
	}

	p {
		font-size: 16px;
		color:$green;
	}

	ul>li {
		padding-top: 15px;
	}

	.modal-body {
	  padding: 15px 15px;
	}

	button {
		margin-left: 10px;
		font-size: 16px;
	}

	.btn-cancel{
		font-weight: 200;
	}
}

.link-success .modal-dialog{
	width: 455px;
	.icon {
		width:300px;
		border:none;
	}

	p {
		font-size: 16px;
	}

	ul>li {
		padding-top: 15px;
	}

	.modal-body {
	  padding: 15px 15px;
	}

	button {
		margin-left: 10px;
		font-size: 16px;
	}

	.btn-cancel{
		font-weight: 200;
	}
}

