.modal-header {
	padding: 15px 35px;
}

.modal-body {
	padding: 15px 35px;
}

.modal-primary{
	background-color: $brand-primary; 
	color: $gray-lighter; 
}

.modal-primary-2nd{
	background-color: $brand-primary-2nd; 
	color: $gray-lighter; 
}