.modal.fade .modal-dialog {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.modal-header {
    padding: 15px 35px;
}

.modal-body {
    padding: 15px 15px;
}

.modal-primary{
    background-color: $gray-lighter;
      color: $gray-darkest;
}

.modal-primary-2nd{
    background-color: $brand-primary-2nd;
    color: $gray-lighter;
}

.modal-dialog {
    .icon {
        width:300px;
        border:none;
    }

    p {
        font-size: 16px;
    }

    ul>li {
        padding-top: 15px;
    }

    button {
        margin-left: 10px;
        font-size: 16px;
    }

    .btn-cancel{
        font-weight: 200;
    }
}

.confirm-add .modal-dialog{
    width: 550px;

    p {
        color:$green;
    }
}

.link-success .modal-dialog{
    width: 455px;
    button {
        margin-left: 0px;
    }
}

.howto .modal-body .free-space {
    padding: 35px 15px 0px 15px;
}

.howto .modal-body .free-space:last-child {
    padding-bottom: 20px;
}

.howto .modal-body .btn,
.validatePr .modal-body .btn
{
    margin: 20px 10px 0px 0px
}

.validatePr .modal-body .btn-info {
    height: 45px;
    width:100%;
}

.report .modal-body,
.get-badge .modal-body,
.upload .modal-body,
.validatePr .modal-body
{
    padding: 15px 35px;

    .close-button{
        margin-right: -15px;
    }

    .export-button{
        margin: 30px 0px;
    }

    .form-group{
        margin-bottom: 10px;
        padding-left: 0px
    }
}

.report .modal-body,
.get-badge .modal-body{
    button{
        margin: 0;
    }
    .selectize-input{
        height: 100%;
    }
}

.validatePr .title {
    text-align: center;
    font-size:26px;
    margin: 20px;
}
