$footer-height: 50px;

.navbar a{
		text-decoration: none;
}

.navbar-static-top {
	border: transparent;
}

.navbar-fixed-bottom {
	position: absolute;
  	bottom: 0;
  	width: 100%;
	border: transparent;
	color: $navbar-default-color;
}

.navbar-top-border {
	height: 1px;
	margin: 0px 15px;
	background: $brand-primary;
}

.navbar-left:first-child {
	margin-left: 0px;
}

.navbar-center {
	position: absolute;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {

	.navbar-top-space {
		margin-top: 55px;
	}
}

.navbar-default {
	border-color: white;
}
