$navbar-default-bg: $body-bg;
/*$navbar-default-color: $gray-darkest;
$navbar-default-link-color: $gray-darkest;
$navbar-default-link-hover-color: $gray-darker;
$navbar-default-brand-hover-color: $gray;
$navbar-default-link-active-color: $gray;*/
$navbar-margin-bottom: 0;
$nav-link-padding: 15px 20px 15px 0px;

$grid-float-breakpoint: 100px;


$footer-height: 50px;

.navbar a{
	text-decoration: none;
}

.navbar-default .navbar-text {
  color: $gray-darkest;
}

.navbar-fixed-bottom {
	position: absolute;
  	bottom: 0;
  	width: 100%;
	border: transparent;
	color: $navbar-default-color;
}

.navbar-top-border {
	height: 1px;
	margin: 0px 15px;
	background: $brand-primary-lightest;
}

.navbar-left:first-child {
	margin-left: 0px;
}

.navbar-center {
	position: absolute;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

@media (min-width: 992px) {
	.navbar-top-space {
		margin-top: 55px;
	}
}

.navbar-default {
	border-color: white;
}

.nav-justified>li, .nav-justified>.nav-tabs.nav-justified {
  bottom: -1px;
}

nav {
	margin-top: 10px;
}

nav .nav-justified>li>a {
  	color: $gray;
}

.nav-justified>.active>a,
.nav>li>a:hover, 
.nav>li>a:focus {
	color: $gray-darkest;
	background-color: transparent;
	border-bottom: solid;
}
