table {
  background: none;
}

.table {
  > tbody > tr {
  	  /*border-bottom-color: $grey-lighter;*/
  }
  > tbody > tr > td {
  	text-overflow: ellipsis;
  	border-bottom: solid 1px;
    border-bottom-color: $gray-lighter;
    padding: 10px 25px;
  }
}

.table-hover {
  tr.select:hover {
    cursor: pointer;
  }
}

td .action-icon {
  /*margin-left: 50%;*/
}
