table {
  background: none;
}

.table {
  background: $gray-lighter;

  > tbody > tr > td {
    border-bottom: 10px solid #fff;
  }
}

.table-hover {
  tr.select:hover {
    cursor: pointer;
  }
}

td .action-icon {
	text-align: center; 
	padding-right: 15px;
	float: right;
}
