table {
  background: none;
}

.table {
  background: $gray-lighter;

  > tbody > tr > td {
    border-bottom: 10px solid $body-bg;
  }
}

.table-hover {
  tr.select:hover {
    cursor: pointer;
  }
}

td .action-icon {
  margin-left: 50%;
}

td {
  padding: 10px 25px;
}