// overwrite bootstrap styles

// fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// colours
$gray-darkest: #333;
$gray-darker: #666;
$gray-dark: #999;
$gray: #e1e1e1;
$gray-light: #ececec;
$gray-lighter: #f9f9f9;

// brand colours
$brand-primary: #2ccc99;
$brand-primary-2nd: #9fcdc8;
$brand-primary-muted: #abd5d5;
$brand-primary-hover: #2c827c;
$brand-warning: #ffa159;
$brand-danger: #ff3333;
$brand-info: #deefef;
$brand-merged: #6e5494;
$link-color: #3c3c3d;

// body
$body-bg: #fff;

// typography
$text-color: $gray-darkest;
$text-primary: $brand-primary;
$text-invert: #fff;

$link-color: $gray-darker;
$link-hover-color: #3c3c3d;

// headings
$headings-font-weight: 100;
$headings-color: $gray-darkest;

// forms
$input-border: $gray-light;
$input-color: $gray-darker;
$input-color-placeholder: $gray;

// panels
$panel-bg: transparent;
$panel-default-text: $gray-darker;
$panel-default-border: $gray-light;
$panel-default-text: $gray-darker;
$panel-default-heading-bg: $gray-lighter;

// dropdown
$dropdown-link-color: $gray-darker;
$dropdown-link-hover-color: darken($gray-darker, 5%);

// components
$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;
$component-active-bg: $gray-light;
$component-active-color: #555;

// buttons
$btn-info-bg: #d0eaea;
$btn-info-color: $brand-primary;
$btn-default-border: #ececec;
$btn-default-color: $brand-primary;

// wells
$well-bg: $gray;
$well-border: transparent;

// list group
$list-group-hover-bg: $gray-light;
$list-group-border: transparent;

// table
$table-bg: $gray-lighter;
$table-bg-hover: $gray-light;
$table-cell-padding: 20px 25px;
$table-border-color: transparent;

// tabs
$nav-tabs-active-link-hover-color: $brand-primary;
$nav-tabs-border-color: $gray-light;
$nav-tabs-link-hover-border-color: $gray-light;
$nav-tabs-active-link-hover-border-color: $gray-light;
$nav-tabs-active-link-hover-bg: $gray-lighter;

// navbar
$navbar-default-bg: $body-bg;
$navbar-default-color: $gray-darker;
$navbar-default-link-color: $gray-dark;
$navbar-default-link-hover-color: $gray;
$navbar-default-brand-hover-color: $gray;
$navbar-default-link-active-color: $gray;
$navbar-margin-bottom: 0;
$nav-link-padding: 15px 20px 15px 0px;

$grid-float-breakpoint: 100px;

// breadcrumb
$breadcrumb-bg: transparent;
$breadcrumb-color: $brand-primary;
$breadcrumb-active-color: $brand-primary;
$breadcrumb-separator: ' ';

// label
$label-default-bg: $brand-info;
$label-color: $brand-primary;

// import bootstrap
@import '../../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

// import our files
@import 'animation';
@import 'breadcrumb';
@import 'browser';
@import 'btn';
@import 'list-group';
@import 'modal';
@import 'navbar';
@import 'panel';
@import 'table';
@import 'tabs';
@import 'well';
@import 'settings';


//
// Heights used in calculations below:
// 52px: navbar height
// 48px: issues panel header
//

html {
  position: absolute;
  min-height: 100%;
  width:100%;
}

body {
  margin-bottom: $footer-height;
}

.scaffold {
  background: $gray-lighter;

  > .pull {
    background: $body-bg;
    min-height: 100vh;
    min-height: calc(100vh - 52px);
    padding: 0 30px;
  }

  > .sidebar {
    background: $gray-lighter;
    max-height: 100vh;
    max-height: calc(100vh - 52px);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;

    .ui-scrollfix {
      position: fixed;
      top: 0;
      width: inherit;
    }

    .issues {
      height: 100vh;
      height: calc(100vh - 100px);
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}

.star-dropdown {
  margin-bottom: 0;
  max-height: 350px;
  overflow-y: scroll;
  padding-bottom: 0;

  > li > a:hover {
    background-color: transparent !important;
    cursor: default;
  }

  .divider {
    margin-bottom: 0;
  }

  .star-dropdown-item {
    border-bottom: 1px solid $gray-light;
    padding: 5px 0;
  }
}

.input-group-btn {
  vertical-align: top;
}

// typography

body {
  font-weight: 300;
}

h2 {
  margin-top: 30px;
}

h3,
h4 {
  font-weight: 200;
  margin-top: 10px;
  font-size: 1.6em;
}

.text-body {
  color: $text-color;
}

.text-primary.muted {
  color: $brand-primary-muted;
}

.text-primary {
  color: $brand-primary;
}

.text-danger {
  color: $brand-danger;
}

img.muted {
  opacity: 0.5;
}

.text-warning {
  color: $brand-warning;
}

.text-danger {
  color: $brand-danger;
}

.text-info {
  color: $brand-info;
}

.text-gray {
  color: $gray-darker;
}

// Font Awesome and Octicons

i.fa-times,
i.fa-plus,
i.fa-plus-circle,
i.fa-info,
i.fa-link {
  cursor: pointer;
}

i.fa-times.action-icon {
  color: $gray-darker;
}

.octicon {
  font-size: 16px;
}

.octicon-large {
  font-size: 1.33333333em;
}

.octicon-rotate {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

a {
  color: inherit;
}

small {
  vertical-align: middle;
}

// Helper classes

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clickable {
  cursor: pointer;
}


// _cla
.cla-box {
  height: 400px; 
  overflow-y: scroll; 
  border: 1px solid $gray-light; 
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dots {
  font-size:10px; 
  margin-left:10px;
  color: $gray;
}

.selectize-input{
  height: 33px;
}

// _landing-page
.lp-premium {
  background-color: $brand-primary;
  color: $text-invert;
}

.lp-highlight {
  color: $text-primary;
}

.lp-gray {
  background-color: $gray;
}

.lp-section-header {
  @extend .col-xs-12;
  
  font-weight:500;
  margin-top:20px;
}

.lp-section-header.left {
    @extend .col-md-3;
    @extend .col-md-offset-1;
    
    padding-right:35px;
    text-align:right;
}

.lp-section-header.center {
    text-align: center;
}
  
.lp-section-content {
  margin-top: 20px; 
  margin-bottom: 40px;
  font-weight:200;
  font-size:1.6em;
}

.lp-list {
  margin-left:-40px;
  margin-top:50px;
  line-height: 32px;
}

.lp-mobile-container {
  @media (max-width: 991px) {
    .lp-list {
      margin-left: 0px;
    }

    .lp-section-header{
      text-align: center;
    }
  }
}

.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
