<html>

    <head>
        <title>CLA assistant</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <!-- COMPONENT SCRIPTS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.11.2/select.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script>
        <script src="//www.google-analytics.com/analytics.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="assets/js/edge.5.0.1.min.js"></script>
        <style>
            .edgeLoad-EDGE-110781156 {
                visibility: hidden;
            }
        </style>

        <!-- APP -->
        <script src="app.min.js"></script>


        <script>
            AdobeEdge.loadComposition('assets/js/CLA_signature_MouseOver', 'EDGE-110781156', {
                scaleToFit: "none",
                centerStage: "none",
                minW: "0",
                maxW: "undefined",
                width: "550px",
                height: "400px"
            }, {
                dom: []
            }, {
                dom: []
            });
        </script>

        <!-- COMPONENT STYLESHEETS -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css">
        <!-- APP STYLESHEET -->
        <link href="/assets/styles/app.css" rel="stylesheet">
    </head>

    <body ng-controller="HomeCtrl">
        <div style="overflow-x:hidden;">

            <div class="lp-background-main">
                <div class="lp-row lp-background-overlay"></div>
            </div>

            <div class="lp-start-view">
                <!-- Header -->
                <div class="lp-header">
                    <a class="navbar-brand" href="/">
                        <img src="/assets/images/CLA_logo.svg" class="img-responsive" alt="CLA assistant" style="width:55px" />
                    </a>
                    <a class="lp-signin text-invert" href="" ng-click="logAdminIn()" target="_self"><b>Sign in</b></a>
                </div>
                <!-- Header -->

                <div class="row lp-premium lp-section">
                    <img class="center-block img-responsive" src="/assets/images/CLA_text.svg" style="width:200px">
                    <div class="center-block" style="font-size:25px;font-weight:200;line-height:36px; margin-top:30px;">
                        <p>Easily handle Contributor License Agreements (CLAs)</p>
                        <btn class="btn btn-md btn-primary" ng-click="logAdminIn()" style="margin-top:20px; width:195px; font-size: 16px">
                            <span class="octicon octicon-mark-github"></span>&nbsp;Sign in with GitHub</btn>
                    </div>
                </div>


            </div>
            <div style="margin-bottom:50px">


                <div class="row lp-white lp-section" style="font-size: 25px;">
                    <div class="center-block">
                        <h4>FEATURES</h4>
                    </div>
                    <div class="center-block">
                        <div class="feature-col center-block">
                            <div feature id="feature1" icon-src="/assets/images/feature1.svg" header="Authentication" text="Sign in with your GitHub account" style="display: inline-block; "></div>
                            <div feature id="feature2" icon-src="/assets/images/feature2.svg" header="Integration" text="CLA assistant notifies you about new contributions via GitHub pull requests" style="display: inline-block;"></div>
                            <div feature id="feature3" icon-src="/assets/images/feature3.svg" header="Status updates" text="CLA assistant updates the status of pull requests when a contributor signs your CLA" style="display: inline-block;"></div>
                            <div feature id="feature4" icon-src="/assets/images/feature4.svg" header="Review" text="Review and export the list of contributors who have signed your CLA" style="display: inline-block;"></div>
                        </div>
                    </div>
                </div>


                <div class="row lp-premium-darker lp-section">
                    <div class="center-block">
                        <p>Hassle-free CLA signing
                            <br>
                        </p>
                    </div>
                    <div id="Stage" class="EDGE-110781156 center-block resize-img"></div>
                    <div class="center-block" style="font-size:18px">
                        <ol style="padding: 0; list-style-position: inside;">
                            <li>Create a pull request</li>
                            <li>Click to accept the repository's CLA</li>
                        </ol>
                        <p>That's it, for real!</p>
                        <!--<btn class="btn btn-md btn-primary" ng-click="logAdminIn()" style="margin-top:20px; width:195px; font-size: 16px"><span class="octicon octicon-mark-github"></span>&nbsp;My signed CLAs</btn> -->
                    </div>
                </div>

                <div class="row lp-section" style="height: 400px;">
                    <div class="center-block">
                        <h4 class="lp-premium">ACTIVITY</h4>
                    </div>
                    <div class="col-md-4 col-md-offset-4" text-slider active="active" time='5000' style="text-align: center;  margin-top: 3em">
                        <p class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 0]"><i class="octicon octicon-repo"></i> {{numberRepos}} registered repositories</p>
                        <p class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 1]"><img src="/assets/images/CLA_logo.svg" class="lp-textblock-icon"/> {{numberClas}} signed CLAs</p>
                        <p class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 2]"><i class="octicon octicon-star"></i> {{numberStars}} GitHub stars</p>
                    </div>
                </div>

                <div class="row lp-white lp-section">
                    <div class="center-block">
                        <h4>HOW IT WORKS</h4>
                        <p>Put your CLA into a <a href="https://gist.github.com" target="_blank">Gist</a>, and link it to a repository</p>
                    </div>

                    <div class="row lp-bottom-space" style=" margin-top: 75px;">
                        <div class="center-block">
                            <div class="col-xs-12 col-sm-4 col-md-4 ">
                                <img class="float-right " src="/assets/images/howto1.svg" style=" height: 150px;">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="how-to-align how-to-align-left" style="font-size: 24px; color:#009245; margin-top:1em;">
                                SAVE YOUR CLA IN A GIST
                            </div>
                            <div class="how-to-align how-to-align-left" style="font-size: 18px;">
                                At <a href="https://gist.github.com" target="_blank">gist.github.com</a> enter a title and text for your CLA, and create your Gist.
                            </div>
                        </div>
                    </div>

                    <div class="row lp-bottom-space">
                        <div class="center-block">
                            <div class="col-xs-12 col-sm-4 col-sm-push-8 col-md-4 col-md-push-8 ">
                                <img class="float-left" src="/assets/images/howto2.svg" style="height: 150px;">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4  col-sm-pull-4 col-md-4 col-md-pull-4 col-sm-offset-4 col-md-offset-4">
                            <div class="how-to-align how-to-align-right" style="font-size: 24px; color:#009245; margin-top:1em;">
                                SELECT A REPOSITORY
                            </div>
                            <div class="how-to-align how-to-align-right" style="font-size: 18px;">
                                Select a repository where you need to manage contributions with a CLA.
                            </div>
                        </div>
                    </div>

                    <div class="row lp-bottom-space">
                        <div class="center-block">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <img class="float-right" src="/assets/images/howto3.svg" style="height: 150px;">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="how-to-align how-to-align-left" style="font-size: 24px; color:#009245; margin-top:1em;">
                                LINK THEM
                            </div>
                            <div class="how-to-align how-to-align-left" style="font-size: 18px;">
                                Now just link that repository to your CLA.
                            </div>
                        </div>
                    </div>

                    <div class="row lp-bottom-space">
                        <div class="center-block">
                            <div class="col-xs-12 col-sm-4 col-sm-push-8 col-md-4 col-md-push-8 ">
                                <img class=" float-left" src="/assets/images/howto4.svg" style="height: 150px;">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4  col-sm-pull-4 col-md-4 col-md-pull-4 col-sm-offset-4 col-md-offset-4">
                            <div class="how-to-align how-to-align-right" style="font-size: 24px; color:#009245; margin-top:1em;">
                                YAY!
                            </div>
                            <div class="how-to-align how-to-align-right" style="font-size: 18px; ">
                                That's it.
                                <br>CLA assistant will do the rest for you.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row lp-premium-darker lp-section">
                    <div class="center-block">
                        <h4>PREVIEW</h4>
                    </div>
                    <div class="center-block" style="margin-bottom:40px;">
                        <img src="/assets/images/browser.svg" class="center-block preview-browser"/>
                        <img src="/assets/images/preview.gif" class="center-block"/>
                    </div>
                </div>

                <div class="row lp-premium lp-section center-block">
                    <div class="center-block">
                        <btn class="btn btn-md btn-primary" ng-click="logAdminIn()" style="margin-top:20px; width:195px; font-size: 16px">
                            <span class="octicon octicon-mark-github"></span>&nbsp;Sign in with GitHub</btn>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-top-border">
                    <div class="container-fluid">
                        <div class="center-block">
                            <div class="navbar-text navbar-left">
                                <p style="margin-bottom: 0px">© 2015 SAP SE</p>
                            </div>
                        </div>
                        <div class="navbar-text navbar-center" style="z-index:-1;">
                            <p class="hidden-xs hidden-sm">
                                Made with
                                <span class="octicon octicon-heart"></span> from the GitHub team at SAP
                            </p>
                        </div>
                        <div class="center-block">
                            <div class="navbar-text navbar-right">
                                <a href="https://github.com/cla-assistant/cla-assistant/issues/new" target="space">
                                    <span class="octicon octicon-mark-github"></span> Open an issue
                                </a>
                            </div>
                        </div>
                        <div class="center-block">
                            <div class="navbar-text navbar-right">
                                <a href="https://gist.github.com/CLAassistant/3a73e4cd729c9d0a6e30" target="space" style="margin-right: 10px">
                        Terms of Service &amp Privacy Policy
                      </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
