<html>
<head>
  <title>CLA assistant</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <!-- COMPONENT SCRIPTS -->
  <script src=""></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
  <script src="/angular-route/angular-route.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.11.2/select.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
  <script src="/angular-sanitize/angular-sanitize.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.5/angular-scroll.min.js"></script>
  <!-- APP -->
  <script src="/app.js"></script>
  <script src="/api.js"></script>

  <!-- CONTROLLERS -->
  <script src="/controller/root.js"></script>
  <script src="/controller/home.js"></script>
  <script src="/controller/detail.js"></script>
  <script src="/controller/settings.js"></script>
  <script src="/controller/cla.js"></script>
  <script src="/modals/info.js"></script>
  <script src="/modals/report.js"></script>

  <!-- COMPONENT STYLESHEETS -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.11.2/select.min.css" rel="stylesheet">
  <link href="/selectize/dist/css/selectize.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <!-- APP STYLESHEET -->
  <link href="/assets/styles/app.css" rel="stylesheet">
</head>

<body ng-controller="HomeCtrl">
<div style="overflow-x:hidden;">

  <div style="  position: fixed;
  z-index: -1;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;">
    <div style="background:black; opacity:0.5; height:100%;" class="lp-row"></div>
  </div>

  <div style="position:relative" resize="height">
<!-- Header -->
    <div style="  margin: 25px 70px;
    height: 75px;
    border: 1px;
    border-bottom-style: solid;
    color: white;
    position: relative">
      <a class="navbar-brand" href="/" style="padding-left: 10px; padding-top:0">
        <img src="/assets/images/CLA_logo.svg" class="img-responsive" alt="CLA assistant" style="width:55px" />
      </a>
      <a class="text-invert" href="/auth/github?admin=true" target="_self" style="position:absolute; top:auto; bottom:15px; right:10px;"><b>Sign in</b></a>    
    </div>
<!-- Header -->
      
    <div class="row lp-premium lp-section" style="padding-top:50px; font-size: 30px;">
      <img class="center-block img-responsive" src="/assets/images/CLA_text.svg" style="width:200px">
      <!-- <div class="center-block" style="font-size:42px;font-weight:600;line-height:50px;letter-spacing:3px">CLA assistant</div> -->
      <div class="center-block" style="font-size:25px;font-weight:200;line-height:36px; margin-top:30px;">Handle Contribution License Agreements <br> with ease</div>
    </div>
    
    <div class="row lp-premium lp-section center-block lp-row" style="bottom:100px;">
      <div class="center-block">
        <btn class="btn btn-md btn-primary" ng-click="logAdminIn()" style="margin-top:20px; width:195px; position:center;"><span class="octicon octicon-mark-github"></span>&nbsp;Sign in with GitHub</btn>
        <!-- <div style="font-size:24px; margin-top: 50px;">Set up, activate and accept CLAs</div> -->
      </div>
    </div>
  </div>
  <div style="margin-bottom:50px">
    

    <div class="row lp-white lp-section" style="font-size: 25px;">
      <div class="center-block">
        <h4> FEATURES</h4>
        <p>Signing and activating Contributor License Agreements is as easy as can be: <br> CLA assistant.</p>
      </div>
      <div class="center-block" style="margin: 50px">
        <div feature id="feature1" icon-src="/assets/images/feature1.svg" title="Authentication" text="Sign in easily with your GitHub account" style="display: inline-block;"></div>
        <div feature id="feature2" icon-src="/assets/images/feature2.svg" title="Integration" text="CLA assistant integrates into GitHub APIs and informs you about pull requests and status" style="display: inline-block;"></div>
        <div feature id="feature3" icon-src="/assets/images/icon3.svg" title="Versioning" text="CLA assistant updates the status of pull requests when a contributor signs your CLA" style="display: inline-block;"></div>
        <div feature id="feature4" icon-src="/assets/images/icon4.svg" title="Review" text="Review and export the list of contributors who signed your CLA for each version and CLAs you signed." style="display: inline-block;"></div>
      </div>
    </div>

    <div class="row lp-premium-darker lp-section">
      <div class="center-block">
        <h4>HOW IT WORKS</h4>
        <p>Set up, activate and accept CLAs</p>
      </div>
    </div>
    
    <div class="row lp-section" style="height: 400px;">
      <div class="col-md-4 col-md-offset-4" text-slider active="active" time='5000' style="text-align: center;  margin-top: 9em">
        <h4 class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 0]">Set up, activate and accept CLAs</h4>
        <h4 class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 1]">Set up, activate and accept CLAs</h4>
        <h4 class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 2]">Set up, activate and accept CLAs</h4>
        <h4 class="lp-textblock" ng-class="{true:'lp-textblock-animate', false:''}[active === 3]">Set up, activate and accept CLAs</h4>
      </div>
    </div>


    <div class="lp-white lp-section" style="font-size: 25px; padding-left:0">
      <div class="center-block">
        <h4>SCREENSHOTS :)</h4>
      </div>
      <div style="width: 10000px; position: relative" img-slider>
        <div style="position:absolute;width:50px;height:50px;cursor:pointer; text-align:right" ng-click="right();" class="fa fa-angle-left"></div>
        <div style="position:absolute;width:50px;height:50px;cursor:pointer; text-align:left" ng-click="left();" class="fa fa-angle-right"></div>
        <!-- <div style="" ng-click="right();">right</div> -->
        <img src="/assets/images/screenshot-1.png" style="max-height:500px; display: inline-block;">
        <img src="/assets/images/screenshot-2.png" style="max-height:500px; display: inline-block;">
        <img src="/assets/images/screenshot-4.png" style="max-height:500px; display: inline-block;">
        <img src="/assets/images/screenshot-5.png" style="max-height:500px; display: inline-block;">
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-top-border">
          <div class="container-fluid">
              <div class="navbar-text navbar-left">
                  <a href="https://github.com/cla-assistant/cla-assistant/blob/master/LICENSE" target="space"> © 2015 SAP SE</a>
              </div>
              <div class="navbar-text navbar-center" style="z-index:-1;">
                <p class="hidden-xs hidden-sm">
                  made with <span class="octicon octicon-heart"></span> from the GitHub team at SAP 
                </p>
              </div>
              <div class="navbar-text navbar-right">
                <a href="mailto:tools@sap.com" style="margin-right: 10px">
                  <span class="octicon octicon-mail"></span> Email us 
                </a>
                <a href="https://github.com/cla-assistant/cla-assistant/issues/new" target="space">
                  <span class="octicon octicon-mark-github"></span> Open an issue
                </a> 
              </div>
          </div>
      </div>
  </div>
</div>
</body>

</html>
